/.vscode
/target
.env
*.webm
*.jar
/profiling
*.svg
*.zip
.idea
/run
perf.data
**/*.zip
.DS_Store
.trigger
.gradle
/extractor/build
/extractor/out
/extractor/classes
/extractor/run
/extractor/bin
db/
.trigger-debug
.trigger-release
