layout {
    pane split_direction="horizontal" {
        pane name="Proxy" command="just" {
            args "proxy"
        }
        pane name="Watcher" command="just" {
            args "watch-nyc"
        }
    }
    floating_panes {
        pane name="Release Build" command="just" {
            args "watch"
        }
    }
}
