[[bench]]
harness = false
name = "set"

[[bench]]
harness = false
name = "atomic"

[dependencies]
anyhow = { workspace = true }
base64 = { workspace = true }
bitfield-struct = { workspace = true }
bitvec = { workspace = true }
bumpalo = { workspace = true }
bytemuck = { workspace = true }
byteorder = { workspace = true }
bytes = { workspace = true }
colored = "2.2.0"
derive_more = { workspace = true }
enumset = { workspace = true }
fastrand = { workspace = true }
flate2 = { workspace = true, features = ["zlib-ng"] }
flecs_ecs = { workspace = true }
geometry = { workspace = true }
glam = { workspace = true, features = ["serde"] }
heapless = { workspace = true }
heed = { workspace = true }
humantime = { workspace = true }
hyperion-crafting = { workspace = true }
hyperion-event-macros = { workspace = true }
hyperion-inventory = { workspace = true }
hyperion-nerd-font = { workspace = true }
hyperion-palette = { workspace = true }
hyperion-proto = { workspace = true }
hyperion-text = { workspace = true }
hyperion-utils = { workspace = true }
indexmap = { workspace = true }
itertools = { workspace = true }
kanal = { workspace = true }
libc = { workspace = true }
libdeflater = { workspace = true }
memmap2 = { workspace = true }
more-asserts = { workspace = true }
ndarray = { workspace = true }
no_denormals = { workspace = true }
once_cell = { workspace = true }
ouroboros = { workspace = true }
parking_lot = { workspace = true }
rayon = { workspace = true }
reqwest = { workspace = true }
rkyv = { workspace = true }
roaring = { workspace = true, features = ["simd"] }
rustc-hash = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sha2 = { workspace = true }
simd-utils = { workspace = true }
system-order = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["full", "tracing"] }
toml = { workspace = true }
tracing = { workspace = true }
tracing-tracy = { workspace = true }
uuid = { workspace = true }
valence_anvil = { workspace = true }
valence_generated = { workspace = true }
valence_ident = { workspace = true }
valence_nbt = { workspace = true }
valence_protocol = { workspace = true }
valence_registry = { workspace = true }
valence_server = { workspace = true }
valence_text = { workspace = true }

[dev-dependencies]
approx = { workspace = true }
divan = { workspace = true }
fastrand = { workspace = true }
spatial = { workspace = true }

[lints]
workspace = true

[package]
authors = ["Andrew Gazelka <andrew.gazelka@gmail.com>"]
edition.workspace = true
name = "hyperion"
publish = false
readme = "README.md"
version.workspace = true
