cargo-features = ["edition2024"]

[[bench]]
harness = false
name = "set"

[[bench]]
harness = false
name = "atomic"

[build-dependencies]
rustc_version.workspace = true

[dependencies]
colored = "2.1.0"
flate2 = {workspace = true, features = ["zlib-ng"]}
glam = {workspace = true, features = ["serde"]}
replace_with = "0.1.7"
rkyv = "0.8.8"
roaring = {workspace = true, features = ["simd"]}
serde = {workspace = true, features = ["derive"]}
tokio = {workspace = true, features = ["full", "tracing"]}
tracing = {workspace = true}
uuid = {workspace = true, features = ["v3"]}
anyhow.workspace = true
base64.workspace = true
bitfield-struct.workspace = true
bitvec.workspace = true
bumpalo.workspace = true
bvh-region.workspace = true
bytemuck.workspace = true
byteorder.workspace = true
bytes.workspace = true
derive_more.workspace = true
dirs-next.workspace = true
enumset.workspace = true
fastrand.workspace = true
flecs_ecs.workspace = true
heapless.workspace = true
heed.workspace = true
hyperion-crafting.workspace = true
hyperion-event-macros.workspace = true
hyperion-inventory.workspace = true
hyperion-nerd-font.workspace = true
hyperion-palette.workspace = true
hyperion-proto.workspace = true
hyperion-text.workspace = true
hyperion-utils.workspace = true
indexmap.workspace = true
itertools.workspace = true
kanal.workspace = true
libc.workspace = true
libdeflater.workspace = true
memmap2.workspace = true
more-asserts.workspace = true
ndarray.workspace = true
no_denormals.workspace = true
once_cell.workspace = true
ouroboros.workspace = true
parking_lot.workspace = true
rayon.workspace = true
reqwest.workspace = true
rustc-hash.workspace = true
serde_json.workspace = true
sha2.workspace = true
tar.workspace = true
thiserror.workspace = true
toml.workspace = true
valence_anvil.workspace = true
valence_generated.workspace = true
valence_ident.workspace = true
valence_nbt.workspace = true
valence_protocol.workspace = true
valence_registry.workspace = true
valence_server.workspace = true
valence_text.workspace = true

[dev-dependencies]
divan.workspace = true
fastrand.workspace = true
hex.workspace = true
rustc_version.workspace = true
tango-bench.workspace = true

[lints]
workspace = true

[package]
authors = ["Andrew Gazelka <andrew.gazelka@gmail.com>"]
edition = "2024"
name = "hyperion"
publish = false
readme = "README.md"
version = "0.1.0"
