[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
compact_str = { workspace = true }
derive_more = { workspace = true }
dotenvy = { workspace = true }
fastrand = { workspace = true }
flecs_ecs = { workspace = true }
geometry = { workspace = true }
glam = { workspace = true }
hyperion = { workspace = true }
hyperion-clap = { workspace = true }
hyperion-gui = { workspace = true }
hyperion-inventory = { workspace = true }
hyperion-item = { workspace = true }
hyperion-permission = { workspace = true }
hyperion-rank-tree = { workspace = true }
hyperion-scheduled = { workspace = true }
hyperion-text = { workspace = true }
hyperion-utils = { workspace = true }
rayon = { workspace = true }
roaring = { workspace = true }
rustc-hash = { workspace = true }
spatial = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tracing-tracy = { workspace = true }
uuid = { workspace = true }
valence_protocol = { workspace = true }
valence_server = { workspace = true }

[dev-dependencies]
tracing = {workspace = true, features = ["release_max_level_info"]}

[lints]
workspace = true

[package]
authors = ["Andrew Gazelka <andrew.gazelka@gmail.com>"]
edition = "2024"
name = "tag"
publish = false
readme = "README.md"
version = "0.1.0"

[target.'cfg(not(target_os = "windows"))'.dependencies]
tikv-jemallocator.workspace = true
