[package]
name = "infection"
version = "0.1.0"
edition = "2021"
authors = ["Andrew Gazelka <andrew.gazelka@gmail.com>"]
readme = "README.md"
publish = false

[dependencies]
anyhow = "1.0.82"
fastrand = "2.0.2"
serde_json = "1.0.116"
hyperion.workspace = true
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["chrono", "env-filter"] }
clap = { version = "4.5.4", features = ["derive"] }
tracing-tracy = "0.11.0"
bvh = { git = "https://github.com/andrewgazelka/bvh-data" }
glam = { workspace = true, features = ["core-simd", "fast-math"] }

[dev-dependencies]
tokio = { version = "1.37.0", features = ["full"] }

[lints.clippy]
complexity = "deny"

nursery = { level = "deny", priority = -1 }

pedantic = { level = "deny", priority = -1 }
missing_errors_doc = "allow"

perf = "deny"
style = "deny"
suspicious = "deny"
